<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>
        FinancePro Consulting and Finance Business Html Theme</title>

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,100,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CLora%3A400%2C700%2C400italic%2C700italic" type="text/css" media="all">
    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt=""> </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="right-push header-dropdown-dark">
        <!-- /.SIDE BAR WRAPPER -->
        <div class="content-wrapper">
            <header class="header-details-toggle header-light">
                <!-- HEADER Logo SECTION -->
                <div class="border-bottom-style-2 typo-dark hidden-xs">
                    <div class="container">
                        <!-- CONTAINER -->
                        <!-- TOGGLE ICON -->
                        <div class="navbar-header logo-contact-details">
                            <a class="navbar-toggle" href="#nav-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </a>

                            <!-- LOGO & LOGO STICKY  -->
                            <a class="navbar-brand hidden-sm" href="index.html"><img src="images/logo.png" alt="logo" width="235" height="40"><img src="images/logo.png" class="sticky-logo" alt="logo" width="235" height="40"></a>
                        </div>
                        <!-- /. TOGGLE ICON -->
                        <div class="header-widgets hidden-sm navbar-right typo-dark no-right-margin">
                            <div class="widget widget-icon-box">
                                <a class="icon-box" href="tel:123456789">
                                    <!-- ICON -->
                                    <i class="fa fa-map-marker fa-3x"></i>
                                    <!-- CONTACT DETAILS -->
                                </a>
                                <div class="icon-box-text">
                                    <h4 class="icon-box-title">1234, Time Square, </h4>
                                    <span class="icon-box-subtitle">New York, United States.</span>
                                </div>
                            </div>
                            <div class="widget widget-icon-box">
                                <a class="icon-box" href="tel:123456789">
                                    <!-- ICON -->
                                    <i class="fa fa-clock-o fa-3x"></i>
                                    <!-- ADDRESS -->

                                </a>
                                <div class="icon-box-text">
                                    <h4 class="icon-box-title">Mon-Fri: 9am to 5pm </h4>
                                    <span class="icon-box-subtitle">Saturday / Sunday: Closed</span>
                                </div>
                            </div>
                            <div class="widget widget-icon-box">
                                <a class="icon-box" href="tel:123456789">
                                    <!-- ICON -->
                                    <i class="fa fa-headphones fa-3x"></i>

                                </a>
                                <!-- TEXT -->
                                <div class="icon-box-text">
                                    <h4 class="icon-box-title">+17 123 456 3789</h4>
                                    <span class="icon-box-subtitle">info@yoursite.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. HEADER Logo SECTION -->
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="transparent-bg header-main sticky-navigation s-header">
                    <nav class="navbar navbar-default  fixed">
                        <div class="container">
                            <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand hidden-md hidden-lg" href="index.html"><img src="images/logo.png" class="img-responsive" alt="logo" width="200" height="40"><img src="images/logo.png" class="sticky-logo" alt="logo" width="200" height="40"></a>
                            </div>
                            <!-- /. TOGGLE ICON -->
                            <!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right no-right-margin">
                                    <li class="dropdown">
                                        <ul class="hidden-sm hidden-xs header-social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </li>
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span></a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->

                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times text-style typo-light"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                            <!-- MAIN MENU -->
                            <div id="nav-menu" class="">
                                <ul class="nav navbar-nav">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="index.html" class="">Home <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
											<li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="one-page-demo.html">One Page Demo</a></li>
                                           
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="about-us.html" class="">About Us <span class="fa fa-angle-down"></span></a>
                                        <!-- MEGA MENU WRAPPER -->
                                        <ul class="dropdown-menu">
                                            <li><a href="our-history.html">Our History</a>
                                            </li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="testimonial.html">Testimonials</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="our-service.html" class="">Our Services <span class="fa fa-angle-down"></span></a>
                                        <!-- DROPDOWN MENU -->
                                        <ul class="dropdown-menu">
                                            <li><a href="financial-planning.html">Financial Planning</a>
                                            </li>
                                            <li><a href="business-planning.html">Business Planning</a>
                                            </li>
                                            <li><a href="investment-advising.html">Investment advising</a
                                            ></li>
                                            <li><a href="taxation.html">Taxation</a>
                                            </li>
                                            <li><a href="retirement-planning.html">Retirement planning</a>
                                            </li>
                                            <li><a href="risk-management.html">Risk Management</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="cases.html" class="">Cases <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="advanced-charting.html">Advanced Charting</a>
                                            </li>
                                            <li><a href="complex-trading-options.html">Complex Trading Options</a>
                                            </li>
                                            <li><a href="hot-key-shortcuts.html">Hot key shortcuts</a>
                                            </li>
                                            <li><a href="worldwide-brand.html">Worldwide Brand</a>
                                            </li>
                                            <li><a href="market-innovation.html">Market Innovation</a>
                                            </li>
                                            <li><a href="business-community.html">Business Community</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="events.html" class="">Events</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="blog.html" class="">Blog</a>

                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown mega-dropdown scroll"><a href="contact-us.html" class="">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->
            <!-- PAGE HEADING SECTION -->
            <section class="page-header minimal page-title-left light-bg">
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-md-12 text-left">
                            <!-- TITLE-->
                            <h2 class="text-uppercase" data-animated="fadeInLeftBig" data-animation-delay="400">Business community</h2>
                            <!-- BREADCRUMB-->
                            <ul class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>business community</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /*PAGE HEADING SECTION -->
            <!-- SIDEBAR SECTION -->
            <section class="sidebar-wrapper right-sidebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-12 col-sm-12 top-margin-md bottom-padding-sm">
                                <!-- TITLE -->
                                <h3 class="legend font-weight-lbold text-uppercase bottom-line">Background and Challenge</h3>
                                <!-- TEXT-->
                                <p class="font-weight-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente.</p>
                            </div>
                            <div class="col-md-6 col-sm-6 case-inner-section bottom-padding-sm">
                                <img src="images/content/case-studies/case1-img.jpg" class="img-responsive" alt="case-img">
                            </div>
                            <div class="col-md-6 col-sm-6 bottom-padding-md">
                                <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">The Truth About Money</span></p>
                                <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">The Expert Opinion: Help With IRA Rollovers</span></p>
                                <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">Listen to The Truth About Retirement with John Doe</span></p>
                                <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">The Truth About Money</span></p>
                                <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">Listen to The Truth About Retirement with John Doe</span></p>
                            </div>
                            <div class="col-md-12 col-sm-12 theme-bg bottom-margin-md">
                                <div class="abt-title padding-sm">
                                    <!-- TITLE -->
                                    <h3 class="parallax-title legend font-weight-lbold text-uppercase typo-light bottom-margin-sm">Approach and Recommendations</h3>
                                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group no-pad accordion-plus accordion-content-transparent accordion-flat accordion-title-transparent">
                                        <!-- ACCORDION 1-->
                                        <div class="panel panel-default typo-light">
                                            <!-- ACCORDION HEADING-->
                                            <div id="headingOne" role="tab" class="">
                                                <h4 class="right-padding panel-title"> <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="hv-light"><span class="left-padding-sm"> Broker comparison </span></a> </h4>
                                            </div>
                                            <!--/. ACCORDION HEADING-->
                                            <!-- ACCORDION CONTENT-->
                                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse in" id="collapseOne" aria-expanded="false">
                                                <div class="panel-body">
                                                    <p>We are committed to the developed standards set forth by government regulators and our company’s priority is to conduct business in strict compliance with current regulatory requirements of the markets..</p>
                                                </div>
                                            </div>
                                            <!-- /. ACCORDION CONTENT-->
                                        </div>
                                        <!-- /. ACCORDION 1-->
                                        <!-- ACCORDION 2-->
                                        <div class="panel panel-default typo-light">
                                            <!-- ACCORDION HEADING-->
                                            <div id="headingTwo" role="tab" class="">
                                                <h4 class="panel-title"> <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed hv-light"> <span class="left-padding-sm">  It's there for both stocks and bonds </span></a> </h4>
                                            </div>
                                            <!--/. ACCORDION HEADING-->
                                            <!-- ACCORDION CONTENT-->
                                            <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
                                                <div class="panel-body">
                                                    <p>We are committed to the developed standards set forth by government regulators and our company’s priority is to conduct business in strict compliance with current regulatory requirements of the markets.</p>
                                                </div>
                                            </div>
                                            <!-- /.ACCORDION CONTENT-->
                                        </div>
                                        <!-- /. ACCORDION 2-->
                                        <!-- ACCORDION 3-->
                                        <div class="panel panel-default typo-light">
                                            <!-- ACCORDION HEADING-->
                                            <div id="headingThree" role="tab" class="">
                                                <h4 class="panel-title"> <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed hv-light"><span class="left-padding-sm"> risk of avoiding risk </span></a> </h4>
                                            </div>
                                            <!--/. ACCORDION HEADING-->
                                            <!-- ACCORDION CONTENT-->
                                            <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                                                <div class="panel-body">
                                                    <p>We are committed to the developed standards set forth by government regulators and our company’s priority is to conduct business in strict compliance with current regulatory requirements of the markets.</p>
                                                </div>
                                            </div>
                                            <!-- /. ACCORDION CONTENT-->
                                        </div>
                                        <!-- /. ACCORDION 3-->

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 pie-chart ">
                                <!-- TITLE -->
                                <h3 class="legend font-weight-lbold text-uppercase bottom-line bottom-margin-vsm">Final Result</h3>
                                <div class="col-md-6 col-sm-6 case-inner-section no-padding">
                                    <div id="doughnutChart" style="opacity: 1;" class="col-md-9 bottom-padding-sm">
                                        <canvas id="doughnutChartmist" height="416" width="555" style="width: 555px; height: 416px;"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 bottom-margin-sm">
                                    <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">The Truth About Money</span></p>
                                    <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">The Expert Opinion: Help With IRA Rollovers</span></p>
                                    <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">Listen to The Truth About Retirement with John Doe</span></p>
                                    <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">The Truth About Money</span></p>
                                    <p class="font-weight-thin"><i class="fa fa-minus-circle typo-darks fa-1x" aria-hidden="true"></i><span class="panel-list-1">Listen to The Truth About Retirement with John Doe</span></p>
                                </div>

                            </div>
                        </div>
                        <!-- SIDEBAR -->
                        <div class="no-left-padding col-md-3 sidebar">
                            <div class="col-md-12 widget">
                                <h4 class="legend text-uppercase">Case studies</h4>
                                <div id="MainMenu">
                                    <div class="list-group  arrow-list list-style-1 border-none no-bottom-margin ">
                                        <a href="advanced-charting.html" class="list-group-item">Advanced Chartingg</a>
                                        <a href="complex-trading-options.html" class="list-group-item"> Complex Trading Options </a>
                                        <a href="hot-key-shortcuts.html" class="list-group-item"> Hot key shortcuts</a>
                                        <a href="worldwide-brand.html" class="list-group-item"> Worldwide Brand</a>
                                        <a href="market-innovation.html" class="list-group-item"> Market Innovation</a>
                                        <a href="business-community.html" class="list-group-item active"> Business Community </a>
                                    </div>
                                </div>
                                <!-- category-list -->
                            </div>
                            <div class="border-rounded col-md-12 theme-bg  bottom-margin-sm section-title">
                                <h2 class="widget-title no-bottom-padding typo-light text-uppercase">Do you need any help?</h2>
                                <p class="no-bottom-padding typo-light">My job is to help professionals to achieve their financial goals whilst having adequate protection along the way.</p>
                                <a href="contact-us.html" class="btn btn-hv-dark btn-hv-dark btn-icon-right light-bg bottom-margin-sm"> Contact Now</a>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <!-- CAROUSEL -->
                                    <div class="owl-carousel col-md-12" data-items="1" data-margin="40" data-loop="true" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="1" data-autoplay="true" data-delay="5000">
                                        <!-- TESTIMONIAL -->
                                        <div class="item client-says">
                                            <div class="light-bg">
                                                <div class="quote typo-darks"></div>
                                                <div class=" padding-sm">
                                                    <!-- TEXT -->
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                </div>
                                            </div>
                                            <div class="client-bio text-center">
                                                <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/client2-85x85.jpg">
                                                <h4 class="legend no-bottom-margin  text-center">Sarah Conor</h4>
                                                <p class="bottom-padding-vsm"> CEO & Founder, <span class="typo-darks"><a href="#">FX Studio</a>	</span></p>
                                            </div>
                                        </div>
                                        <!-- TESTIMONIAL -->
                                        <div class="item client-says">
                                            <div class="light-bg">
                                                <div class="quote typo-darks"></div>
                                                <div class="padding-sm">
                                                    <!-- TEXT -->
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                </div>
                                            </div>
                                            <div class="client-bio text-center">
                                                <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/client3-85x85.jpg">
                                                <!-- NAME -->
                                                <h4 class="legend no-bottom-margin  text-center">David Johnson</h4>
                                                <p class="bottom-padding-vsm"> Vice President, <span class="typo-darks">Marvel LLC	</span></p>
                                            </div>
                                        </div>
                                        <!-- TESTIMONIAL -->
                                        <div class="item client-says">
                                            <div class="light-bg">
                                                <div class="quote typo-darks"></div>
                                                <div class="padding-sm">
                                                    <!-- TEXT -->
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                </div>
                                            </div>
                                            <div class="client-bio text-center">
                                                <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/team-6-85x85.jpg">
                                                <!-- NAME -->
                                                <h4 class="legend no-bottom-margin  text-center">Rachel Nicholas</h4>
                                                <p class="bottom-padding-vsm"> Financial Manager, <span class="typo-darks">Yahoo</span></p>
                                            </div>
                                        </div>
                                        <!-- TESTIMONIAL -->
                                        <div class="item client-says">
                                            <div class="light-bg">
                                                <div class="quote typo-darks"></div>
                                                <div class="padding-sm">
                                                    <!-- TEXT -->
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                </div>
                                            </div>
                                            <div class="client-bio text-center">
                                                <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/client4.jpg">
                                                <!-- NAME -->
                                                <h4 class="legend no-bottom-margin  text-center">Adam Walsh</h4>
                                                <p class="bottom-padding-vsm"> Managing Director,<span class="typo-darks">Pinnel</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /. CAROUSEL -->
                                    <p class="top-margin-sm col-md-12"><a href="contact-us.html" class="btn col-sm-12 btn-theme  btn-hv-dark btn-hv-dark btn-icon-right  btn-style-1">Company Presentation</a> </p>
                                </div>
                            </div>
                        </div>
                        <!-- SIDEBAR END -->
                    </div>
                </div>
            </section>

        </div>
        <footer id="footer" class="footer darks-bg typo-light">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!-- LOGO -->
                            <img src="images/logo-light.png" alt="logo" width="235" height="40">
                            <br>
                            <p>We are an international private company found and led by the team of investors, managers and entrepreneurs. We have over 15 departments located all over the world.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widgets">
                            <!-- QUICK LINKS -->
                            <h5 class="widget-title text-uppercase">Quick Links</h5>
                            <ul class="arrow-list menu clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-service.html">Services</a></li>
                                <li><a href="cases.html">cases</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="our-team.html">Our Team</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widgets">
                            <!-- ADDRESS -->
                            <h5 class="widget-title text-uppercase">Our Office</h5>
                            <address>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-map-marker typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!-- ADDRESS -->
										<p class="feature-description">Zozotheme.com<br> No. 12, Ribbon Building, Walse street, Australia - 30001.</p>	
									</div>	
								</div>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-phone typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!--  PHONE NUMBER -->
										<p class="feature-description"> +0 (123) 456-78-90</p>
									</div>	
								</div>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-envelope typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!-- EMAIL -->
										<p class="feature-description"><a class="active" href="mailto:info@website.com">support@zozothemes.com</a></p>
									</div>	
								</div>
								</address>
                        </div>
                        <div class="col-md-3 col-sm-6  footer-widgets">
                            <!-- NEWSLETTER -->
                            <h5 class="widget-title text-uppercase">Email Newsletter</h5>
                            <p>Get subscriber only insights & news delivered by Finance Pro</p>
                            <p class="form-message1" style="display: none;"></p>
                            <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div class="form-group has-feedback">
                                    <input class="form-control" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small></div>
                                <span class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button>
									</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-top-border">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <ul class="footer-social-icons">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- MODAL BOX Small END -->
        <a href="#" id="back-to-top" title="Back to top"></a>
        <!-- FOOTER SECTION -->
    </div>
    <!-- /. PAGE WRAPPER -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/charts.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>