<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>
        FinancePro Consulting and Finance Business Html Theme</title>

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,100,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic" type="text/css" media="all">
    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt=""> </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="right-push header-dropdown-dark">
        <!-- /.SIDE BAR WRAPPER -->
        <div class="content-wrapper">
            <header class="header-details-toggle header-light light-bg">
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="header-main sticky-navigation">
                    <nav class="navbar navbar-default fixed">
                        <div class="container">
                            <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo" width="200" height="40"><img src="images/logo.png" class="sticky-logo" alt="logo" width="200" height="40"> </a>
                            </div>
                            <!-- /. TOGGLE ICON -->
                            <!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span>
                                        </a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="close-toggled fa fa-times typo-light text-style"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                            <!-- MAIN MENU -->
                            <div id="nav-menu" class="">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="index.html" class="">Home <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
											<li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="one-page-demo.html">One Page Demo</a></li>
                                           
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="about-us.html" class="">About Us <span class="fa fa-angle-down"></span></a>
                                        <!-- MEGA MENU WRAPPER -->
                                        <ul class="dropdown-menu">
                                            <li><a href="our-history.html">Our History</a>
                                            </li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="testimonial.html">Testimonials</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="our-service.html" class="">Our Services <span class="fa fa-angle-down"></span></a>
                                        <!-- DROPDOWN MENU -->
                                        <ul class="dropdown-menu">
                                            <li><a href="financial-planning.html">Financial Planning</a>
                                            </li>
                                            <li><a href="business-planning.html">Business Planning</a>
                                            </li>
                                            <li><a href="investment-advising.html">Investment advising</a
                                            ></li>
                                            <li><a href="taxation.html">Taxation</a>
                                            </li>
                                            <li><a href="retirement-planning.html">Retirement planning</a>
                                            </li>
                                            <li><a href="risk-management.html">Risk Management</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="cases.html" class="">Cases <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="advanced-charting.html">Advanced Charting</a>
                                            </li>
                                            <li><a href="complex-trading-options.html">Complex Trading Options</a>
                                            </li>
                                            <li><a href="hot-key-shortcuts.html">Hot key shortcuts</a>
                                            </li>
                                            <li><a href="worldwide-brand.html">Worldwide Brand</a>
                                            </li>
                                            <li><a href="market-innovation.html">Market Innovation</a>
                                            </li>
                                            <li><a href="business-community.html">Business Community</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="events.html" class="">Events</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="blog.html" class="">Blog</a>

                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown mega-dropdown scroll"><a href="contact-us.html" class="">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->
            <!-- SLIDER SECTION -->
            <!-- PAGE HEADING SLIDER SECTION -->
            <section class="slider-section">
                <div class="owl-carousel dot-style1 navigation-dark nav-mini  show-nav-hover nav-rounded dots-mini" data-items="1" data-margin="" data-loop="true" data-merge="true" data-nav="true" data-dots="false" data-stagepadding="0" data-mobile="1" data-tablet="1" data-desktopsmall="1" data-desktop="1" data-autoplay="false" data-delay="5000" data-navigation="true">
                    <div class="item">
                        <img src="images/content/slider/slider-1.jpg" alt="" class="img-responsive" width="1600" height="800">
                        <div class="container vertical-middle  slider-content text-left">
                            <div class="col-md-6 item-box animated" data-animate="fadeIn" data-animation-delay="400">
                                <h2 class="bor-lr font-weight-bold slider-content  animated" data-animate="fadeInLeftBig" data-animation-delay="400"><span class="typo-darks ">Fresh Ideas for<br>Growing your Business </span></h2>
                                <!-- TEXT-->
                                <h4 class="typo-light animated slider-content" data-animate="fadeInRightBig" data-animation-delay="400">Get A Customized Financial Plan To Help You <br> Reach Your Goals For Less. </h4>
                                <!-- BUTTON-->
                                <div class="animated" data-animate="fadeInDownBig" data-animation-delay="400">
                                    <a href="#" class="btn dark-bg typo-light btn-hv-dark btn-rounded">VIEW OUR SOLUTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/content/slider/slider-2.jpg" alt="" class="img-responsive" width="1600" height="800">
                        <div class="container vertical-middle slider-content text-left">
                            <div class="col-md-6 item-box animated" data-animate="fadeIn" data-animation-delay="400">
                                <h2 class="bor-lr font-weight-bold slider-content  animated" data-animate="fadeInLeftBig" data-animation-delay="400"><span class="typo-darks ">Best Consulting Firms for  <br> Financial Consulting </span></h2>
                                <!-- TEXT-->
                                <h4 class="typo-light animated" data-animate="fadeInRightBig" data-animation-delay="400">No obligation second opinion see how well you <br> are positioned for retirement.  </h4>
                                <!-- BUTTON-->
                                <div class="animated" data-animate="fadeInDownBig" data-animation-delay="400">
                                    <a class="btn dark-bg typo-light btn-hv-dark btn-rounded">Get a Free Quote </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/content/slider/slider-3.jpg" alt="" class="img-responsive" width="1600" height="800">
                        <div class="container vertical-middle slider-content text-left">
                            <div class="col-md-12 text-center item-box animated" data-animate="fadeIn" data-animation-delay="400">
                                <h2 class="bor-lr font-weight-bold slider-content  animated" data-animate="fadeInLeftBig" data-animation-delay="400"><span class="typo-darks ">International Financial Consulting Ltd </span></h2>
                                <!-- TEXT-->
                                <h4 class="typo-light animated" data-animate="fadeInRightBig" data-animation-delay="400">No obligation second opinion see how well you <br> are positioned for retirement.  </h4>
                                <!-- BUTTON-->
                                <div class="animated" data-animate="fadeInDownBig" data-animation-delay="400">
                                    <a href="#" class="btn light-bg typo-dark btn-hv-dark btn-rounded">VIEW OUR SOLUTION</a>
                                    <a class="btn dark-bg typo-light btn-hv-dark btn-rounded hidden-xs">Get a Free Quote </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PAGE HEADING SLIDER SECTION -->

            <!-- SLIDER SECTION -->
            <!-- SERVICES SECTION -->
            <section id="services" class="border-bottom-style-1 bottom-padding-sm">
                <div class="container">				
					<div class="row bottom-padding-sm">
						<div class="col-md-12 font-weight-light">
							<h4 class="member-details">Financial leaders continue to expand beyond their traditional role of focusing on transaction processing and financial reporting to providing strategic guidance to the enterprise.</h4>
						</div>
					</div>
					<div class="row">
						<!-- FEATURE BOX -->
						<div class="feature-box col-md-4 col-sm-4">
							<div class="icon-wrapper bottom-padding-sm">
								<!-- ICON -->
								<img class="img-rounded img-responsive" src="images/content/services/service1-1000x695.jpg" alt="service1">
							</div>
							<div class="inner-wrapper">
								<div class="title-wrapper">
									<!-- FEATURE TITLE -->
									<h4 class="feature-title bottom-line"><a href="#">Financial Planning</a></h4>
								</div>
								<!-- FEATURE DESCRIPTION -->
								<p class="">Financial planning is the task of determining how a business will afford to </p>
							</div>
						</div>
						<!-- /.FEATURE BOX -->
						<!-- FEATURE BOX -->
						<div class="feature-box col-md-4 col-sm-4">
							<div class="icon-wrapper bottom-padding-sm">
								<!-- ICON -->
								<img class="img-rounded img-responsive" src="images/content/services/service2-1000x695.jpg" alt="service1">
							</div>
							<div class="inner-wrapper">
								<div class="title-wrapper">
									<!-- FEATURE TITLE -->
									<h4 class="feature-title bottom-line"><a href="#">Business Planning</a></h4>
								</div>
								<!-- FEATURE DESCRIPTION -->
								<p class="">A business plan is a formal statement of business goals, reasons they are </p>
							</div>
						</div>
						<!-- /.FEATURE BOX -->
						<!-- FEATURE BOX -->
						<div class="feature-box col-md-4 col-sm-4">
							<div class="icon-wrapper bottom-padding-sm">
								<!-- ICON -->
								<img class="img-rounded img-responsive" src="images/content/services/service3-1000x695.jpg" alt="service1">
							</div>
							<div class="inner-wrapper">
								<div class="title-wrapper">
									<!-- FEATURE TITLE -->
									<h4 class="feature-title bottom-line"><a href="#">Investment advising</a></h4>
								</div>
								<!-- FEATURE DESCRIPTION -->
								<p class="font-weight-light"> Advisors who are only able to recommend that you invest in a narrow </p>
							</div>
						</div>
						<!-- /.FEATURE BOX -->
					</div>
					<div class="row">
						<!-- FEATURE BOX -->
						<div class="feature-box col-md-4 col-sm-4">
							<div class="icon-wrapper bottom-padding-sm">
								<!-- ICON -->
								<img class="img-rounded img-responsive" src="images/content/services/service4-1000x695.jpg" alt="service1">
							</div>
							<div class="inner-wrapper">
								<div class="title-wrapper">
									<!-- FEATURE TITLE -->
									<h4 class="feature-title bottom-line"><a href="#">Taxation</a></h4>
								</div>
								<!-- FEATURE DESCRIPTION -->
								<p class="font-weight-light"> Advisors who are only able to recommend that you invest in a narrow </p>
							</div>
						</div>
						<!-- /.FEATURE BOX -->
						<!-- FEATURE BOX -->
						<div class="feature-box col-md-4 col-sm-4">
							<div class="icon-wrapper bottom-padding-sm">
								<!-- ICON -->
								<img class="img-rounded img-responsive" src="images/content/services/service5.jpg" alt="service1">
							</div>
							<div class="inner-wrapper">
								<div class="title-wrapper">
									<!-- FEATURE TITLE -->
									<h4 class="feature-title bottom-line"><a href="#">Retirement planning</a></h4>
								</div>
								<!-- FEATURE DESCRIPTION -->
								<p class="font-weight-light">Advisors who are only able to recommend that you invest in a narrow </p>
							</div>
						</div>
						<!-- /.FEATURE BOX -->
						<!-- FEATURE BOX -->
						<div class="feature-box col-md-4 col-sm-4">
							<div class="icon-wrapper bottom-padding-sm">
								<!-- ICON -->
								<img class="img-rounded img-responsive" src="images/content/services/service6.jpg" alt="service1">
							</div>
							<div class="inner-wrapper">
								<div class="title-wrapper">
									<!-- FEATURE TITLE -->
									<h4 class="feature-title bottom-line"><a href="#">Risk Management</a></h4>
								</div>
								<!-- FEATURE DESCRIPTION -->
								<p class="font-weight-light">Advisors who are only able to recommend that you invest in a narrow </p>
							</div>
						</div>
						<!-- /.FEATURE BOX -->
					</div>
                </div>
            </section>
            <!-- SERVICES SECTION -->
            <!-- WHY CHOOSE SECTION -->
            <section id="why-choose" class="bottom-padding-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- TITLE -->
                            <h2 class="bottom-line">About FinancePro</h2>
                            <!-- TEXT-->
                            <p class="bottom-margin-vsm">We are an international private company found and led by the team of investors, managers and entrepreneurs. We have over 15 departments located all over the world.</p>
                            <p class="no-bottom-margin">In our team we gathered true specialists and professionals that know how to give any kind of business an impact on its further development.</p>
                            <br>
                            <a class="btn btn-md btn-theme btn-hv-dark">Our Service</a>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div role="tabpanel">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs  bottom-margin-sm" role="tablist">
                                            <li role="presentation" class="active"><a href="#our-facts" aria-controls="our-facts" role="tab" data-toggle="tab" aria-expanded="true" class="light-bg btn btn-lg right-padding">Our-facts</a></li>
                                            <li role="presentation"><a href="#advantages" aria-controls="advantages" role="tab" data-toggle="tab" aria-expanded="false" class="light-bg btn btn-lg right-padding">Advantages</a></li>
                                            <li role="presentation"><a href="#our-skills" aria-controls="our-skills" role="tab" data-toggle="tab" aria-expanded="false" class="light-bg btn btn-lg right-padding">Our-skills</a></li>
                                        </ul>
                                        <!-- /. Nav tabs-->
                                        <!-- Tab panes -->	
                                        <div class="tab-content no-border">
                                            <!-- TAB CONTENT -->
                                            <div role="tabpanel" class="tab-pane fade active in" id="our-facts">
                                                <div class="row">
                                                    <div class="col-md-12 bottom-padding-sm">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem!</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <div class="text-center  hv-wrapper">
                                                            <!-- COUNTER NUMBER -->
                                                            <div data-count="30" class="number-counter"><span class="counter counter-icon">30</span></div>
                                                            <!-- COUNTER TITLE -->
                                                            <h5 class="typo-dark">Years of Experiences</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <div class="text-center  hv-wrapper">
                                                            <!-- COUNTER NUMBER -->
                                                            <div data-count="350" class="number-counter"><span class="counter counter-icon">350</span></div>
                                                            <!-- COUNTER TITLE -->
                                                            <h5 class="typo-dark">Professional Advisors</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="text-center  hv-wrapper">
                                                            <!-- COUNTER NUMBER -->
                                                            <div data-count="950" class="number-counter"><span class="counter counter-icon">950</span></div>
                                                            <!-- COUNTER TITLE -->
                                                            <h5 class="typo-dark">Happy customers</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.TAB CONTENT END -->
                                            <!-- TAB CONTENT -->
                                            <div role="tabpanel" class="tab-pane fade" id="advantages">
                                                <div class="row">
                                                    <div class="col-md-12 bottom-padding-sm">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem!</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <div class="text-center counter-wrapper hv-wrapper">
                                                            <!-- COUNTER NUMBER -->
                                                            <div data-count="30" class="number-counter"><span class="counter counter-icon">30</span></div>
                                                            <!-- COUNTER TITLE -->
                                                            <h5 class="typo-dark">Years of Experiences</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <div class="text-center  counter-wrapper hv-wrapper">
                                                            <!-- COUNTER NUMBER -->
                                                            <div data-count="350" class="number-counter"><span class="counter counter-icon">350</span></div>
                                                            <!-- COUNTER TITLE -->
                                                            <h5 class="typo-dark">Professional Advisors</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="text-center  counter-wrapper hv-wrapper">
                                                            <!-- COUNTER NUMBER -->
                                                            <div data-count="950" class="number-counter"><span class="counter counter-icon">950</span></div>
                                                            <!-- COUNTER TITLE -->
                                                            <h5 class="typo-dark">Happy customers</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.TAB CONTENT END -->
                                            <!-- TAB CONTENT -->
                                            <div role="tabpanel" class="tab-pane fade" id="our-skills">
                                                <div class="row">
                                                    <div class="col-md-12 bottom-padding-sm">
                                                        <p>Get high results with Finance Company. Our company has been consulting leading top management company since 2004. </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <!-- PROGRESS BAR -->
                                                        <h6>Financial Planning<span class="pull-right progress-label">75%</span></h6>
                                                        <div class="progress progress-striped active square light-bg lable-on-top" data-height="7">
                                                            <div data-percentage="75" aria-valuemax="100" data-bg="" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar dark-bg">
                                                            </div>
                                                        </div>
                                                        <!-- PROGRESS BAR -->
                                                        <h6>Business Planning<span class="pull-right progress-label">65%</span></h6>
                                                        <div class="progress progress-striped active square light-bg lable-on-top" data-height="7">
                                                            <div data-percentage="65" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class="progress-bar dark-bg">
                                                            </div>
                                                        </div>
                                                        <!-- PROGRESS BAR -->
                                                        <h6>Investment advising<span class="pull-right progress-label">90%</span></h6>
                                                        <div class="progress progress-striped active square light-bg lable-on-top" data-height="7">
                                                            <div data-percentage="90" aria-valuemax="100" data-bg="" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar dark-bg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /. Tab panes -->
                                    </div>
                                    <!-- /. TABS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- WHY CHOOSE SECTION -->
            <!-- GRID SECTION -->
            <section class="padding-sm light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4 col-md-2">
                                <img alt="" src="images/content/client/6.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
                                <img alt="" src="images/content/client/2.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
                                <img alt="" src="images/content/client/4.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
                                <img alt="" src="images/content/client/5.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
                                <img alt="" src="images/content/client/3.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
                                <img alt="" src="images/content/client/1.png" class="img-responsive" width="170" height="75">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.CAROUSEL STYLES -->
            <!-- /.GRID SECTION -->
            <!-- WHY CHOOSE SECTION -->
            <section id="services2" class="dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- SECTION TITLE -->
                            <div class="section-title">
                                <h2 class="bottom-line typo-light">What Others Say</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row bottom-margin-vsm">
                        <div class="col-md-12">
                            <!-- CAROUSEL -->
                            <div class="owl-carousel nav-top-right nav-outer  nav-square nav-mini" data-items="1" data-margin="40" data-loop="true" data-merge="true" data-nav="true" data-dots="false" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3" data-autoplay="true" data-delay="5000" data-navigation="true">
                                <!-- TESTIMONIAL -->
                                <div class="item client-says">
                                    <div class="quote-bg">
                                        <div class="quote typo-darks"></div>
                                        <div class="quote-text padding-sm">
                                            <!-- TEXT -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        </div>
                                    </div>
                                    <div class="client-bio text-center typo-light">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/client2-85x85.jpg">
                                        <h4 class="legend no-bottom-margin  text-center">Sarah Conor</h4>
                                        <p class="bottom-padding-vsm"> CEO & Founder, <span class="typo-darks"><a href="#">FX Studio</a>	</span></p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says">
                                    <div class="quote-bg">
                                        <div class="quote typo-darks"></div>
                                        <div class="quote-text padding-sm">
                                            <!-- TEXT -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        </div>
                                    </div>
                                    <div class="client-bio text-center typo-light">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/client3-85x85.jpg">
                                        <!-- NAME -->
                                        <h4 class="legend no-bottom-margin  text-center">David Johnson</h4>
                                        <p class="bottom-padding-vsm"> Vice President, <span class="typo-darks">Marvel LLC	</span></p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says">
                                    <div class="quote-bg">
                                        <div class="quote typo-darks"></div>
                                        <div class="quote-text padding-sm">
                                            <!-- TEXT -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        </div>
                                    </div>
                                    <div class="client-bio text-center typo-light">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/team-6-85x85.jpg">
                                        <!-- NAME -->
                                        <h4 class="legend no-bottom-margin  text-center">Rachel Nicholas</h4>
                                        <p class="bottom-padding-vsm"> Financial Manager, <span class="typo-darks">Yahoo</span></p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says">
                                    <div class="quote-bg">
                                        <div class="quote typo-darks"></div>
                                        <div class="quote-text padding-sm">
                                            <!-- TEXT -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        </div>
                                    </div>
                                    <div class="client-bio text-center typo-light">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/testimonials/client4.jpg">
                                        <!-- NAME -->
                                        <h4 class="legend no-bottom-margin  text-center">Adam Walsh</h4>
                                        <p class="bottom-padding-vsm"> Managing Director,<span class="typo-darks">Pinnel</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- /. CAROUSEL -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- GRID SECTION -->
            <section class="theme-bg padding-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center typo-light ">
							<!-- TEXT -->
                            <h3 class="section-block">Watch professionals place and manage trades so you can improve your timing on entries and exits.</h3>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.CAROUSEL STYLES -->
            <!-- /.GRID SECTION -->
            <!-- TESTIMONIALS SECTION -->
            <section id="testimonials" class="bottom-padding-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- CAROUSEL -->
                            <div class="owl-carousel" data-items="1" data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="4" data-autoplay="true" data-delay="3000">
                                <!-- TESTIMONIAL -->
                                <div class="item feature-box style-3">
                                    <div class="icon-wrapper image-wrapper">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/team/set/team-1.jpg" width="500" height="500">
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- TEXT -->
                                        <p> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis</p>
                                        <h5 class="team-item-img no-bottom-margin">Willam Blake</h5>
                                        <p>CEO & Founder</p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item feature-box style-3">
                                    <div class="icon-wrapper image-wrapper">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/team/set/team-6.jpg" width="500" height="500">
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- TEXT -->
                                        <p> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis</p>
                                        <h5 class="team-item-img no-bottom-margin">Henrik Stenson</h5>
                                        <p>Business Analyst </p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item feature-box style-3">
                                    <div class="icon-wrapper image-wrapper">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/team/set/team-2.jpg" width="500" height="500">
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- TEXT -->
                                        <p> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis</p>
                                        <h5 class="team-item-img no-bottom-margin">Michael Howard</h5>
                                        <p>Marketing Head</p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item feature-box style-3">
                                    <div class="icon-wrapper image-wrapper">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/team/set/team-5.jpg" width="500" height="500">
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- TEXT -->
                                        <p> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis</p>
                                        <h5 class="team-item-img no-bottom-margin">Mariya Roy</h5>
                                        <p>Finance Advisor </p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item feature-box style-3">
                                    <div class="icon-wrapper image-wrapper">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/team/set/team-3.jpg" width="500" height="500">
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- TEXT -->
                                        <p> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis</p>
                                        <h5 class="team-item-img no-bottom-margin">Charles Darwin</h5>
                                        <p>Tax Advisor</p>
                                    </div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item feature-box style-3">
                                    <div class="icon-wrapper image-wrapper">
                                        <img alt="client1" class="img-responsive img-circle" src="images/content/team/set/team-4.jpg" width="500" height="500">
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- TEXT -->
                                        <p> Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis</p>
                                        <h5 class="team-item-img no-bottom-margin">Mary Jane</h5>
                                        <p>Cheif Consultant</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /. CAROUSEL -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- TESTIMONIALS SECTION -->
        </div>
        <footer id="footer" class="footer darks-bg typo-light">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!-- LOGO -->
                            <img src="images/logo-light.png" alt="logo" width="235" height="40">
                            <br>
                            <p>We are an international private company found and led by the team of investors, managers and entrepreneurs. We have over 15 departments located all over the world.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widgets">
                            <!-- QUICK LINKS -->
                            <h5 class="widget-title text-uppercase">Quick Links</h5>
                            <ul class="arrow-list menu clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-service.html">Services</a></li>
                                <li><a href="cases.html">cases</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="our-team.html">Our Team</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widgets">
                            <!-- ADDRESS -->
                            <h5 class="widget-title text-uppercase">Our Office</h5>
                            <address>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-map-marker typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!-- ADDRESS -->
										<p class="feature-description">Zozotheme.com<br> No. 12, Ribbon Building, Walse street, Australia - 30001.</p>	
									</div>	
								</div>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-phone typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!--  PHONE NUMBER -->
										<p class="feature-description"> +0 (123) 456-78-90</p>
									</div>	
								</div>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-envelope typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!-- EMAIL -->
										<p class="feature-description"><a class="active" href="mailto:info@website.com">support@zozothemes.com</a></p>
									</div>	
								</div>
								</address>
                        </div>
                        <div class="col-md-3 col-sm-6  footer-widgets">
                            <!-- NEWSLETTER -->
                            <h5 class="widget-title text-uppercase">Email Newsletter</h5>
                            <p>Get subscriber only insights & news delivered by Finance Pro</p>
                            <p class="form-message1" style="display: none;"></p>
                            <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div class="form-group has-feedback">
                                    <input class="form-control" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small></div>
                                <span class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button>
									</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-top-border">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <ul class="footer-social-icons">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- MODAL BOX Small END -->
        <a href="#" id="back-to-top" title="Back to top"></a>
        <!-- FOOTER SECTION -->
    </div>
    <!-- /. PAGE WRAPPER -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/count-to.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>