<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>
        FinancePro Consulting and Finance Business Html Theme
    </title>

    <!-- GOOGLE FONTS
            ================================================== -->
    <link rel='stylesheet' id='google-fonts-zozo_options-css' href='http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CLora%3A400%2C700%2C400italic%2C700italic' type='text/css' media='all' />
    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt=""> </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="right-push header-dropdown-dark">
        <!-- /.SIDE BAR WRAPPER -->
        <div class="content-wrapper">
            <header class="header-logo-top-center header-details-toggle  header-transparent header-top-transparent header-sticky-light header-bg">
                <!-- HEADER Logo SECTION -->
                <div class="typo-dark hidden-xs hidden-sm border-bottom-style-2">
                    <div class="container">
                        <!-- CONTAINER -->
                        <!-- TOGGLE ICON -->
                        <div class="navbar-header logo-contact-details">
                            <a class="navbar-toggle" href="#nav-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </a>

                            <!-- LOGO & LOGO STICKY  -->
                            <a class="navbar-brand hidden-sm no-left-padding" href="index.html"><img src="images/logo.png" alt="logo" width="235" height="40"><img src="images/logo.png" class="sticky-logo" alt="logo" width="235" height="40"></a>
                        </div>
                        <!-- /. TOGGLE ICON -->
                    </div>
                </div>
                <!-- /. HEADER Logo SECTION -->
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="header-main sticky-navigation">
                    <nav class="navbar navbar-default lights-bg fixed border-bottom-style-3">
                        <div class="container">
                           <div class="row">
						   		 <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand hidden-md hidden-lg" href="index.html"><img src="images/logo.png" class="img-responsive" alt="logo" width="200" height="40"><img src="images/logo.png" class="sticky-logo" alt="logo" width="200" height="40"></a>                            </div>
                            <!-- /. TOGGLE ICON -->
                            
                            <!-- MAIN MENU -->
                            <div id="nav-menu" class="">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="index.html" class="">Home <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
											<li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="one-page-demo.html">One Page Demo</a></li>
                                           
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="about-us.html" class="">About Us <span class="fa fa-angle-down"></span></a>
                                        <!-- MEGA MENU WRAPPER -->
                                        <ul class="dropdown-menu">
                                            <li><a href="our-history.html">Our History</a>
                                            </li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="testimonial.html">Testimonials</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="our-service.html" class="">Our Services <span class="fa fa-angle-down"></span></a>
                                        <!-- DROPDOWN MENU -->
                                        <ul class="dropdown-menu">
                                            <li><a href="financial-planning.html">Financial Planning</a>
                                            </li>
                                            <li><a href="business-planning.html">Business Planning</a>
                                            </li>
                                            <li><a href="investment-advising.html">Investment advising</a
                                            ></li>
                                            <li><a href="taxation.html">Taxation</a>
                                            </li>
                                            <li><a href="retirement-planning.html">Retirement planning</a>
                                            </li>
                                            <li><a href="risk-management.html">Risk Management</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="cases.html" class="">Cases <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="advanced-charting.html">Advanced Charting</a>
                                            </li>
                                            <li><a href="complex-trading-options.html">Complex Trading Options</a>
                                            </li>
                                            <li><a href="hot-key-shortcuts.html">Hot key shortcuts</a>
                                            </li>
                                            <li><a href="worldwide-brand.html">Worldwide Brand</a>
                                            </li>
                                            <li><a href="market-innovation.html">Market Innovation</a>
                                            </li>
                                            <li><a href="business-community.html">Business Community</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="events.html" class="">Events</a>
                                    </li>
                                    <!-- MENU -->

                                    <!-- MEGA MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="blog.html" class="">Blog</a>

                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown mega-dropdown scroll"><a href="contact-us.html" class="">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
							<!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span></a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->

                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times text-style typo-light"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
						   </div>
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->
            <!-- SLIDER SECTION -->
            <section class="bg-image bg-no-repeat top-padding-sm" data-background="images/content/slider/32.jpeg">
				
                <!-- ITEM  -->
                <div class="container">
                    <div class="row slider-content text-center">
                        <div class="col-md-6 col-md-offset-3 col-sm-12">
                            <div class="slider-inner-content typo-light">
                                <!-- TITLE  -->
                                <h5 class="text-style">Welcome To</h5>
                                <h1>Finance Pro</h1>
                                <div class="bottom-padding-sm slider-content">
                                    <!-- TEXT  -->
                                    <p class="normal">50 Years of Experience in finance and consultant business! We helping a client achieve their goals than programming a workout and setting the pin in the weight stack.</p>
                                    <!-- BUTTON  -->
                                </div>
                                <a class="btn-theme btn btn-md btn-hv-dark"> <span class="btn-text">Learn More</span> <i class="fa-arrow-circle-o-right fa"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- SERVICES SECTION -->
            <section id="about-us" class="bottom-padding-md light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 text-center">
                            <!-- SECTION TITLE -->
                            <div class="section-title">
                                <h3 class="bottom-line bottom-margin-sm">Welcome to Finance Pro</h3>
                                <div class="bottom-pad">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc 
                                        <br> consectetur odio sed dolor tincidunt porttitor. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                   		<div class="col-md-4 col-sm-4">
							<h4>Mission</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cursus sapien..</p>
						</div>
						<div class="col-md-4 col-sm-4">
							<h4>vision</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cursus sapien..</p>
						</div>
						<div class="col-md-4 col-sm-4">
							<h4>History</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cursus sapien..</p>
						</div>


                    </div>
                </div>
            </section>
            <!-- SERVICES SECTION -->
            <!-- WHY CHOOSE SECTION -->
            <section id="why-choose" class="no-bottom-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- TITLE -->
                            <h3 class="text-uppercase bottom-line">Smart ideas for smart people</h3>
                            <!-- TEXT-->
                            <p class="title-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old..</p>
                            <br>
								<p><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i><span class="panel-list-1">Piece of classical Latin literature from 45</span></p>
								<p><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i><span class="panel-list-1">looked up one of the more</span></p>
								<p><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i><span class="panel-list-1">simply random text has roots in a piece</span></p>
                            
                        </div>
                        <div class="col-md-5">
                            <img class="img-responsive" src="images/content/bg/man.png" alt="about-img" width="874" height="837" >
                        </div>
                    </div>
                </div>
            </section>
            <!-- WHY CHOOSE SECTION -->
            <section class="bg-image bottom-padding-md parallax-bg typo-light" data-stellar-background-ratio="0.5" data-background="images/content/bg/16.jpeg" style="background-image: url(&quot;images/content/bg/elements/16.jpg&quot;); background-position: 50% -90.5167px;">
                <div class="overlay-darker"></div>
                <div class="container text-left">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <!-- TITLE -->
                            <h4 class="font-weight-bold"> WE ARE <span class="text-color">PASSIONATE</span> ABOUT OUR WORK</h4>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <!-- TEXT -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem! </p>
                        </div>
                    </div>
                    <div class="row top-padding-sm">
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper ">
                                <!-- COUNTER NUMBER -->
                                <div data-count="1250" class="number-counter "><span class="counter">1250</span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-color">Branches</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper">
                                <!-- COUNTER NUMBER -->
                                <div data-count="599" class="number-counter"><span class="counter">599</span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-color">Projects</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper">
                                <!-- COUNTER NUMBER -->
                                <div data-count="822" class="number-counter"><span class="counter">822</span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-color">Awards</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper">
                                <!-- COUNTER NUMBER -->
                                <div data-count="4766" class="number-counter"><span class="counter">4766</span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-color">clients</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			<!-- TEAM -->
            <!-- TESTIMONIALS SECTION -->
            <section id="testimonials" class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- SECTION TITLE -->
                            <div class="section-title bottom-line text-center">
                                <!-- TITLE -->
                                <h3>What Clients Says?</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- CAROUSEL -->
                            <div class="owl-carousel nav-bottom top-bullet dots-dark dots-outer dots-mini" data-items="1" data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="true" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3" data-autoplay="true" data-delay="3000">
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <img class="img-circle image-small" src="images/content/client/client-5.jpg" width="100" height="100" alt="" />
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="client-name">John Deo - Yahoo</div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <img class="img-circle image-small" src="images/content/client/client-3.jpg" width="100" height="100" alt="" />
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="client-name">Rachel Moore - Google</div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <img class="img-circle image-small" src="images/content/client/client-2.jpg" width="100" height="100" alt="" />
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="client-name">Michael Y - Facebook</div>
                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <img class="img-circle image-small" src="images/content/client/client-1.jpg" width="100" height="100" alt="" />
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="client-name">Sue San - Bing</div>
                                </div>
                            </div>
                            <!-- /. CAROUSEL -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- TESTIMONIALS SECTION -->
            <!-- GRID SECTION -->
            <section class="light-bg padding-md">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4 col-md-2">
								<!-- IMAGE -->
                                <img alt="" src="images/content/client/1.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
								<!-- IMAGE -->
                                <img alt="" src="images/content/client/2.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
								<!-- IMAGE -->
                                <img alt="" src="images/content/client/3.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
								<!-- IMAGE -->
                                <img alt="" src="images/content/client/4.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
								<!-- IMAGE -->
                                <img alt="" src="images/content/client/5.png" class="img-responsive" width="170" height="75">
                            </div>
                            <div class="col-sm-4 col-md-2">
								<!-- IMAGE -->
                                <img alt="" src="images/content/client/6.png" class="img-responsive" width="170" height="75">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.CAROUSEL STYLES -->
            <!-- /.GRID SECTION -->
        </div>
		<!-- FOOTER SECTION -->
        <footer id="footer" class="footer darks-bg typo-light">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!-- LOGO -->
                            <img src="images/logo-light.png" alt="logo" width="235" height="40">
                            <br>
                            <p>We are an international private company found and led by the team of investors, managers and entrepreneurs. We have over 15 departments located all over the world.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widgets">
                            <!-- QUICK LINKS -->
                            <h5 class="widget-title text-uppercase">Quick Links</h5>
                            <ul class="arrow-list menu clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-service.html">Services</a></li>
                                <li><a href="cases.html">cases</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="our-team.html">Our Team</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widgets">
                            <!-- ADDRESS -->
                            <h5 class="widget-title text-uppercase">Our Office</h5>
                            <address>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-map-marker typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!-- ADDRESS -->
										<p class="feature-description">Zozotheme.com<br> No. 12, Ribbon Building, Walse street, Australia - 30001.</p>	
									</div>	
								</div>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-phone typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!--  PHONE NUMBER -->
										<p class="feature-description"> +0 (123) 456-78-90</p>
									</div>	
								</div>
								<div class="feature-box style-3">
									<div class="icon-wrapper">
										<!-- ICON -->
										<i class="fa fa-envelope typo-darks fa-lg"></i>
									</div>	
									<div class="inner-wrapper">
										<!-- EMAIL -->
										<p class="feature-description"><a class="active" href="mailto:info@website.com">support@zozothemes.com</a></p>
									</div>	
								</div>
								</address>
                        </div>
                        <div class="col-md-3 col-sm-6  footer-widgets">
                            <!-- NEWSLETTER -->
                            <h5 class="widget-title text-uppercase">Email Newsletter</h5>
                            <p>Get subscriber only insights & news delivered by Finance Pro</p>
                            <p class="form-message1" style="display: none;"></p>
                            <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div class="form-group has-feedback">
                                    <input class="form-control" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small></div>
                                <span class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button>
									</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-top-border">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <ul class="footer-social-icons">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- MODAL BOX Small END -->
        <a href="#" id="back-to-top" title="Back to top"></a>
        <!-- FOOTER SECTION -->
    </div>
    <!-- /. PAGE WRAPPER -->
  	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js/count-to.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

</html>